<% sub = subscription %>
<h3>Summary</h3>

<p>You have chosen the <%= sub.plan_name.humanize %> plan</p>

<p>
  Your 30-day free trial will end at midnight on <%= sub.expires_at.to_s(:date) %>.<br /> 
  If you keep your account open past that time you'll be charged <%= humanize_plan sub.plan %> for the service.<br /> 
  If you don't want to continue using <%= AppConfig.app_name %>, just cancel before you're billed on <%= sub.expires_at.to_s(:date) %> and you won't be charged.  
</p>